/*-------------------------------GENERAL/ SITEWIDE--------------------------------------------*/
body{
    /*background-color:#E2E4F3;*/
    min-height:100vh;
}

.container{
    width:100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.nav-links{
    font-size:1.5rem;
}

.flashes h4{
    font-weight:800;
    color:#60992D;
}

.no-margin{
    margin:0;
}

.margin-top{
    margin-top:2rem;
}


.goldman{
    font-family:'Goldman', cursive;
}

.opaque{
    background-color: rgba(0,0,0,0.8);
    color: #d9c5b2;
    padding:2rem;
}

.img-background{ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-small{
    margin: 5px;
}

.rounded{
    border-radius:10px;
}

.btn{
    margin-top: 1rem;
}

.search-box{
    max-width:80vw;
}

.sidenav{
    background-color: black;
}

.sidenav li>a{
    color:#60992D;
}

/*-------------------------------SITE THEME COLOURS--------------------------------------------*/

.l-blue-text{
    color:#E2E4F3;
}

.km-green-text{
    color:#60992D;
}

.km-green{
    background-color:#60992D;
}

.km-blue{
    background-color: #274C77;
}

.km-pink-text{
    color:#af3b6e;
}

.km-pink{
    background-color:#af3b6e;
}

.pink-border{
    border-style:solid;
    border-color:#af3b6e;
    border-width:2px;
}

.l-blue{
    background-color: #E2E4F3;
}

/*-------------------------------HOME PAGE--------------------------------------------*/

.entry-row{
    height:100vh;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
}

.home-img{
    height:100vh;
    background-image:url(/static/images/purple-avo-bg.jpg);
    background-size: cover;
    background-position: center;
    margin:0;
    overflow:hidden;
}

.title-text{
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 900;
    margin-bottom:0.5rem;
    color: white;
    text-shadow: 6px 6px BLACK;
}

.entry-buttons{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:1rem;
}

.entry{
    font-size: 2.5rem;
    color:white;
    padding: 0.5rem 2rem;
    display: inline-block;
    background-color: black;
    border: 3px solid white;
    margin: 1rem;
}

/*-------------------------------LOGIN/REGISTER PAGE--------------------------------------------*/

.signin{
    background: url(../images/register_image.jpg) no-repeat center center;
    background-size:cover;
    m:100vh;
}

.add_img{
    background: url(../images/add_image.jpg) no-repeat center center;
    background-size:cover;
}
/*-------------------------------HOMEPAGE--------------------------------------------*/

.header-pic{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2018/03/13/18/30/food-3223286_960_720.jpg);
    height:80vh;
    width:100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.card{
    margin:1rem;
}
.header-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:8rem;
}

.intro-heading{
    font-size:1.5rem;
    color:darkgreen;
}

.intro-text{
    padding:0 1rem;
    margin-top: 0;
    font-size: 1.2rem;
}

.subheading-text{
    font-size: 3rem;
    margin:0;
}

.category-pic{
    width:100%;
}

.categories{
    border-radius:10px;
    margin-top:1rem;
    margin-bottom:3rem;
}

.cat-btn-txt{
    font-size:2rem;
    margin:0.5rem;
}

.search-form{
    padding-bottom:1.5rem;
    margin-left:10%;
}

.fav-btn{
    margin-bottom:1rem;
}

/*-------------------------------MY RECIPES PAGE--------------------------------------------*/
.user-header{
    min-width:100vw;
    margin:1rem 0;
    background-image:url(/static/images/avo-bg.png);
    color: #60992D;
    font-size:3rem;
}

/*-------------------------------RECIPE STYLING ON ALL PAGES--------------------------------------------*/
.recipe-pic{
    max-width:20rem;
    m:20rem;
    padding:2rem;
}

.credits{
    padding-bottom:4rem;
}

.activator{
    m:30rem;
}

.recipes{
    background-color:white;
    border-radius:25px;
    margin-bottom:1rem;
}

.ingred-item{
    padding-left:5rem;
    font-size:1rem;
}

.recipe-section{
    font-size:1.5rem;
}

.recipe-name{
    li:3rem;
    padding-top:2rem;
    font-size:2rem;
    font-weight:bolder;
}

.list-title{
    padding-top:2rem;
}

.radio-buttons { 
    display:inline;
}

/*-------------------------------COOKWARE PROMOTION STYLING--------------------------------------------*/

.ad-link{
    font-size:1.5rem;
    color: gray;
}

.ad-pic{
    max-width:12rem;
    m:12rem;
    m:8rem;
}

.ad-box{
    border-color:#60992D;
    border-width:3px;
    border-style:solid;
    border-radius:25px;
}


.ad{
    font-size: 1rem;
    color: lightgray;
    padding-top:1rem;
}

.logo{
    width:100%;
    padding-bottom:1rem;
}

/*-----------------------------------------------------------MEDIA QUERIES MOBILE------*/
@media only screen and (max-width: 600px) {

.header-text{
    font-size:3rem;
}

.subheading-text{
    font-size: 2rem;
    margin:0;
}

.cat-btn-txt{
    font-size: large;
    padding: 0;
    margin: 0 auto;
}

.categories{
    margin-bottom:0.5rem;
}

.search-box{
    max-width:100vw;
}

.search-bar{
    width:80%;
}

.adjust-size{
    max-width:100%;
    m:0;
    m:100%;
    padding:0;
}

.recipe-section{
    font-size:1.2rem;
}

.list-title{
    font-size:1.5rem;
}

.brand-logo{
    font-size:1.5rem !important;
}

.user-header{
    li: 2rem;
    font-size: 2.5rem;
}

}

@media only screen and (min-width: 600px) {

.home-img{
    background-image:url(/static/images/eggs.jpg);
}

.entry-col{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.entry-buttons{
    flex-direction:row;
    justify-content: space-around;
}
}


@media only screen and (min-width: 992px) {
    .home-img{
        background-image:url(/static/images/bg-1.jpg);
    }

    .entry-buttons{
        flex-direction:column;
    }
    }