/*-------------------------------GENERAL/ SITEWIDE--------------------------------------------*/
body{
    background-color:#E2E4F3;
    min-height:100vh;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.nav-links{
    font-size:1.5rem;
}

.flashes h4{
    line-height: 2;
    font-weight:800;
    color:white;
    background-color:rgba(0, 0, 0, 0.4);
    
}

.no-margin{
    margin:0;
}

.margin-top{
    margin-top:2rem;
}


.goldman{
    font-family:'Goldman', cursive;
}

.opaque{
    background-color: rgba(0,0,0,0.8);
    color: #d9c5b2;
    padding:2rem;
}

.img-background{ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-small{
    margin: 5px;
}

.rounded{
    border-radius:10px;
}

.btn{
    margin-top: 1rem;
}

.search-box{
    max-width:80vw;
}

/*-------------------------------SITE THEME COLOURS--------------------------------------------*/

.l-blue-text{
    color:#E2E4F3;
}

.km-green-text{
    color:#60992D;
}

.km-green{
    background-color:#60992D;
}

.km-blue{
    background-color: #274C77;
}

.km-pink-text{
    color:#af3b6e;
}

.km-pink{
    background-color:#af3b6e;
}

.pink-border{
    border-style:solid;
    border-color:#af3b6e;
    border-width:2px;
}

.l-blue{
    background-color: #E2E4F3;
}

/*-------------------------------LOGIN/REGISTER PAGE--------------------------------------------*/

.signin{
    background: url(../images/register_image.jpg) no-repeat center center;
    background-size:cover;
    min-height:100vh;
}

.add_img{
    background: url(../images/add_image.jpg) no-repeat center center;
    background-size:cover;
}
/*-------------------------------HOMEPAGE--------------------------------------------*/

.header-pic{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2018/03/13/18/30/food-3223286_960_720.jpg);
    height:80vh;
    width:100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.header-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:8rem;
}

.intro-heading{
    padding:2rem;
    font-size:2rem;
    line-height:2rem;
}

.intro-text{
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right:1rem;
    padding-top: 0;
    margin-top: 0;
    font-size: 1.5rem;
}

.subheading-text{
    font-size: 3rem;
    margin:0;
}

.category-pic{
    width:100%;
    height:100%;
}

.categories{
    border-radius:10px;
    margin-top:1rem;
    margin-bottom:3rem;
}

.cat-btn-txt{
    font-size:2rem;
    margin:0.5rem;
}

.search-form{
    padding-bottom:1.5rem;
}

.search-bar{
    min-width:200%;
}

.fav-btn{
    margin-bottom:1rem;
}

/*-------------------------------MY RECIPES PAGE--------------------------------------------*/
.user-header{
    margin-top:1rem;
    border-color:#af3b6e;
    border-style:solid;
    border-width:5px;
    color: #af3b6e;
    background-color: white;
    border-radius:25px;
    font-size:3rem;
    line-height:3rem;
}


/*-------------------------------RECIPE STYLING ON ALL PAGES--------------------------------------------*/
.recipe-pic{
    max-width:20rem;
    max-height:20rem;
    padding:2rem;
}

.credits{
    padding-bottom:4rem;
}

.activator{
    max-height:30rem;
}

.recipes{
    background-color:white;
    border-radius:25px;
    margin-bottom:1rem;
}

.ingred-item{
    padding-left:5rem;
    font-size:1rem;
}

.recipe-section{
    font-size:1.5rem;
}

.recipe-name{
    line-height:3rem;
    padding-top:2rem;
    font-size:2rem;
    font-weight:bolder;
}

.list-title{
    padding-top:2rem;
}

.radio-buttons { 
    display:inline;
}

/*-------------------------------COOKWARE PROMOTION STYLING--------------------------------------------*/

.ad-link{
    font-size:1.5rem;
    color: gray;
}

.ad-pic{
    max-width:12rem;
    max-height:12rem;
    min-height:8rem;
}

.ad-box{
    border-color:#60992D;
    border-width:3px;
    border-style:solid;
    border-radius:25px;
}


.ad{
    font-size: 1rem;
    color: lightgray;
    padding-top:1rem;
}

.logo{
    height:100%;
    width:100%;
    padding-bottom:1rem;
}

/*-----------------------------------------------------------MEDIA QUERIES MOBILE------*/
@media only screen and (max-width: 600px) {

.header-text{
    font-size:3rem;
}

.subheading-text{
    font-size: 2rem;
    margin:0;
}

.cat-btn-txt{
    font-size: large;
    padding: 0;
    margin: 0 auto;
}

.categories{
    margin-bottom:0.5rem;
}

.search-box{
    max-width:100vw;
}

.search-bar{
    min-width:80%;
}

.adjust-size{
    max-width:100%;
    min-height:0;
    max-height:100%;
    padding:0;
}

.recipe-section{
    font-size:1.2rem;
}

.list-title{
    font-size:1.5rem;
}

.brand-logo{
    font-size:1.5rem !important;
}

.user-header{
    line-height: 2rem;
    font-size: 2.5rem;
}

}
