body{
    background-color:#d9c5b2;
}

.almond{
    background-color: #d9c5b2
}

.signin{
    background: url(register_image.jpg) no-repeat center center;
    background-position: contain; 
}

.add_img{
    background: url(add_image.jpg) no-repeat center center;
    background-position: contain;
}

.header-pic{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2018/03/13/18/30/food-3223286_960_720.jpg);
    height:80vh;
    width:100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.header-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:8rem;
}

.subheading-text{
    font-size: 3rem;
    margin:0;
}


.img-background{ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
body img{
    max-width:200px;
}
*/
.goldman{
    font-family:'Goldman', cursive;
}

.opaque{
    background-color: rgba(0,0,0,0.8);
    color: #d9c5b2;
    padding:2rem;
}

.user-header{
    background-color:#465775;
    color: blanchedalmond;
}

.flashes h4{
    line-height: 2;
}

.recipe-pic{
    max-width:20rem;
    max-height:20rem;
    padding:2rem;
}

.category-pic{
    width:100%;
    height:100%;
}

.categories{
    border-radius:10px;
    margin-top:1rem;
    margin-bottom:3rem;
}

.cat-btn-txt{
    font-size:2rem;
    margin:0.5rem;
}

.search-form{
    padding-bottom:1.5rem;
}

.search-bar{
    min-width:200%;
}

.btn-small{
    margin: 5px;
}

.credits{
    padding-bottom:4rem;
}

.activator{
    max-height:30rem;
}

.km-blue{
    background-color: #465775;
}

.rounded{
    border-radius:10px;
}

.btn{
    margin-top: 1rem;
}

.ad-link{
    font-size:1.5rem;
    color: gray;
}

.ad-pic{
    max-width:12rem;
    max-height:12rem;
}

.tablecloth{
    background: url(https://cdn.pixabay.com/photo/2015/03/12/22/31/tablecloth-670934_960_720.jpg);
}

.ad{
    font-size: 1rem;
    color: lightgray;
    padding-top:1rem;
}

/*-----------------------------------------------------------MEDIA QUERIES MOBILE------*/
@media only screen and (max-width: 600px) {

.header-text{
    font-size:3rem;
}

.subheading-text{
    font-size: 2rem;
    margin:0;
}

.cat-btn-txt{
    font-size: large;
    padding: 0;
    margin: 0 auto;
}

.categories{
    margin-bottom:0.5rem;
}

.search-bar{
    min-width:100%;
}

}