{% extends "base.html" %}
{% block content %}
<body class="img-background signin">
<div class="valign-wrapper margin-top">
  <div class="row offset-s2 s8 opaque">
  <p class="center-align subheading-text l-blue-text goldman">Log in</p>
  <!--------------------------------LOGIN FORM---------------------------------------------->
    <form class="col s12" method="POST" action="{{ url_for('login') }}">
      <div class="row">
      <!--------------------------------USERNAME INPUT---------------------------------------------->
        <div class="input-field col s12">
          <input id="username" name="username" type="text" minlength="5"
          maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="white-text validate" required>
          <label for="username"><i class="fa fa-user-circle" aria-hidden="true"></i>Username</label>
        </div>
      </div>
      <!--------------------------------PASSWORD INPUT---------------------------------------------->
      <div class="row">
        <div class="input-field col s12">
            <input id="password" name="password" type="password" minlength="5" 
            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate white-text" required>
            <label for="password"><i class="fa fa-key" aria-hidden="true"></i>Password</label>
        </div>
      </div>
      <!--------------------------------LOGIN SUBMIT---------------------------------------------->
      <button type="submit" class="hoverable btn-large km-pink center-align">
        Log in
      </button>
      </form>
      <!--------------------------------REGISTER OPTION LINK---------------------------------------------->
    <div class="row">
        <div class="col s12">
            <p class="l-blue-text">Not registered yet? <a href="{{ url_for('register') }}" class="km-pink-text">Register here</a></p>
        </div>
    </div>
</div>
</div>
</body>
{% endblock %}