{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
<body>
   <div class="container">
    <!--FLASH MESSAGES -->
        <div class="row"> 
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
         <div class="col s12 flashes">
            <h4 class="hide">Messages</h4>
            <h4 class="center-align">{{ message }}</h4>
         </div>
         {% endfor %}
         {% endif %}
         {% endwith %}
    </div>
      <!--USER RECIPE HEADING............................................-->
      <div class="row user-header">
         <div class="col s12 m8 offset-m2">
            <p class="center-align goldman">
               {{ username|capitalize() }}'s Cookbook
            </p>
         </div>
      </div>
      <div class="row">
         <div class="col s12 m8 offset-m2 center-align bottom-space">
            <a href="{{ url_for('add_recipe')}}" class="center-align km-green btn-large"><i class="fas fa-plus right"></i>Add Recipe</a>
         </div>
      </div>
      {% for recipe in ownrecipes %}
      <div class="recipes">
         <div class="row">
            <div class="col s12 m6">
               <!--RECIPE NAME + EDIT BUTTONS....................................-->
               <p class="recipe-name center-align">{{ recipe.recipe_name }}</p>
               <div class="center-align">
                  {% if session.user|lower == recipe.created_by|lower %}
                  <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn km-pink">Delete</a>
                  <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn km-green">Edit</a>
                  {% endif %}
               </div>
            </div>
            <!--IMAGE..............................................................-->
            <div class="col s12 m6 center-align">
               <img src="{{ recipe.image_url}}" alt="{{recipe.recipe_name}}" class="recipe-pic">
            </div>
         </div>
         <!--INGREDIENTS..........................................................-->
         <div class="row">
            <div class="col s6">
               <p class="ingred-item adjust-size"><strong class="recipe-section"> Ingredients :</strong></p>
                {% autoescape false %}
               <ul class="ingred-list">
                  <li class="ingred-item adjust-size"><i class=" km-green-text fas fa-heart"></i>{{ recipe.ingredients|replace(",", '</li>
                  <li class="ingred-item  adjust-size"><i class=" km-green-text fas fa-heart"></i>') }}</li>
               </ul>
               {% endautoescape %}
               
            </div>
            <div class="col s6">
               <p><strong class="recipe-section"> Cookware required:</strong></p>
               {% autoescape false %}
               <ul>
                  <li><i class="fas fa-heart km-pink-text"></i>{{ recipe.cookware|replace(",", '</li>
                  <li><i class="fas fa-heart km-pink-text"></i>') }}</li>
               </ul>
               {% endautoescape %}
            </div>
         </div>
         <!--INSTRUCTIONS......................................................-->
         <div class="row">
            <div class="col offset-s1 s10">
               <p><strong class="recipe-section"> Instructions :</strong></p>
                {% autoescape false %}
               <ul class="collection">
                  <li class="collection-item">{{ recipe.instructions|replace(".", '</li>
                  <li class="collection-item">') }}</li>
               </ul>
               {% endautoescape %}
            </div>
         </div>
         <!--COOKWARE PROMOTION.........................................................-->
         <div class="row center-align ad-box">
            <p><strong> Missing something?</strong> View quality cookware needed for this recipe by Haden</p>
            <div class="col s4 center-align">
               <div class="valign-wrapper">
                  <a href="https://www.amazon.co.uk/stores/Haden/page/440F70CE-6556-4598-9664-0EAADD236BFA?ref_=ast_bln" target="_blank">
                  <img class="logo adjust-size" src="https://d2o7dtsnwzl7g9.cloudfront.net/blaines/media/image/f1/c5/fc/Haden_Logo.png" alt="Haden logo">
                  </a>
               </div>
            </div>
            {% if "oven" in recipe.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/Oven-Sngl-Fan-64L-Timer/dp/B07YZB63Z3/ref=sr_1_7_sspa?dchild=1&keywords=oven&qid=1607180596&sr=8-7-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyNzdDRFRMWlI0QjhZJmVuY3J5cHRlZElkPUEwOTAzNDI1WlFDRE1UU1MxUkZPJmVuY3J5cHRlZEFkSWQ9QTA1MTMyNDQyTzlOODk3V1lUVFImd2lkZ2V0TmFtZT1zcF9tdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl"
                  target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/4147%2BH1OULL._AC_.jpg" alt="Haden oven" class="ad-pic adjust-size">
                  <p class="ad-link"> Electric oven £225</p>
               </a>
            </div>
            {% endif %}
            {% if "microwave" in recipe.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/Haden-186683-Cotswold-Microwave-Litre/dp/B073VPDH6V/ref=sr_1_5?dchild=1&keywords=microwave+ovens+haden&qid=1608078651&sr=8-5" target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/713zanXfoZL._AC_SL1500_.jpg" alt="Haden microwave" class="ad-pic adjust-size">
                  <p class="ad-link"> Microwave £105</p>
               </a>
            </div>
            {% endif %}
            {% if "stove" in recipe.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/Haden-HG60W-Gas-Hob-Stovetop/dp/B08DD3TJCW/ref=sr_1_1?dchild=1&keywords=stove+top+haden&qid=1607183238&sr=8-1" target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/71Km3T%2BAnpL._AC_SL1500_.jpg" alt="Haden stove" class="ad-pic adjust-size">
                  <p class="ad-link"> Gas stove £139</p>
               </a>
            </div>
            {% endif %}
            {% if "pan" in recipe.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/Haden-Goldstone-Pan-Set-Aluminium/dp/B08FRLQ537/ref=sr_1_1?crid=39VB11BQR6WIP&dchild=1&keywords=haden+pan&qid=1607189575&sprefix=haden+pan%2Caps%2C151&sr=8-1" target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61ScxS0tyXL._AC_SL1500_.jpg" alt="Haden pans" class="ad-pic adjust-size">
                  <p class="ad-link"> Pans £65</p>
               </a>
            </div>
            {% endif %}
            {% if "pot" in recipe.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/Haden-Goldstone-Pan-Set-Aluminium/dp/B08FRLQ537/ref=sr_1_1?crid=39VB11BQR6WIP&dchild=1&keywords=haden+pan&qid=1607189575&sprefix=haden+pan%2Caps%2C151&sr=8-1" target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61ScxS0tyXL._AC_SL1500_.jpg" alt="Haden pans" class="ad-pic adjust-size">
                  <p class="ad-link"> pots £65</p>
               </a>
            </div>
            {% endif %}
            {% if "mixer" in recipe.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/197405-Accessories-ingredients-Powerful-Warranty/dp/B084RS5SQM?ref_=ast_sto_dp" target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/618e7H7bgYL._AC_SL1500_.jpg" alt="Haden mixer" class="ad-pic adjust-size">
                  <p class="ad-link"> Stand mixer £120</p>
               </a>
            </div>
            {% endif %}
            {% if "slow cooker" in recipe.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/Haden-3-5ltr-Slow-Cooker/dp/B07BXR3DM7?ref_=ast_sto_dp" target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61Bm6J2LSwL._AC_SL1500_.jpg" alt="Haden slow cooker" class="ad-pic adjust-size">
                  <p class="ad-link"> Slow cooker £20</p>
               </a>
            </div>
            {% endif %}
         </div>
      </div>
      {% endfor %}
   </div>
   <div class="container">
      <div class="row user-header">
         <div class="col s12 m8 offset-m2">
            <p class="center-align goldman">
               {{ username|capitalize() }}'s Favourites
            </p>
         </div>
      </div>
      <!--FAVOURITE RECIPE TITLE............................................-->
      {% for result in results %}
      <div class="recipes">
         <div class="row">
            <div class="col s12 m6">
               <!--FAV RECIPE NAME...........................................-->
               <p class="center-align recipe-name">{{ result.recipe_name }}</p>
            </div>
            <!--FAV RECIPE IMAGE.............................................-->
            <div class="col s12 m6 center-align">
               <img src="{{ result.image_url}}" alt="{{result.recipe_name}}" class="recipe-pic">
            </div>
         </div>
         <!--FAV CREATED BY & UNFAVOURITE....................................-->
         <div class="row">
            <div class="col s6 center-align">
               <a href="{{ url_for('remove_favourite', recipe_id=result._id) }}" class="center-align btn km-pink">
               <i class="fas fa-times-circle"></i> Remove favourite</a>
            </div>
            <div class="col s6 center-align">
               <p class= "center-align"> <strong>Created by:<br></strong><i>{{ result.created_by }}</i></p>
            </div>
         </div>
         <!--FAV INGREDIENTS ..........................................-->
         <div class="row">
            <div class="col s12 m6">
               <p class="ingred-item adjust-size"><strong class="recipe-section"> Ingredients :</strong></p>
                {% autoescape false %}
               <ul class="ingred-list">
                  <li class="ingred-item adjust-size"><i class=" km-green-text fas fa-heart"></i>{{ result.ingredients|replace(",", '</li>
                  <li class="ingred-item adjust-size"><i class="km-green-text fas fa-heart"></i>') }}</li>
               </ul>
               {% endautoescape %}
               
            </div>
            <!--FAV COOKWARE.................................................................-->
            <div class="col s12 m6 ">
               <p><strong class="recipe-section"> Cookware required:</strong></p>
               {% autoescape false %}
               <ul class="ingred-list">
                  <li><i class="fas fa-heart km-pink-text"></i>{{ result.cookware|replace(",", '</li>
                  <li><i class="fas fa-heart km-pink-text"></i>') }}</li>
               </ul>
               {% endautoescape %}
            </div>
         </div>
         <!--FAV INSTRUCTIONS........................................................-->
         <div class="row">
            <div class="col offset-s1 s10">
               <p><strong class="recipe-section"> Instructions :</strong></p>
                {% autoescape false %}
               <ul class="collection">
                  <li class="collection-item">{{ result.instructions|replace(".", '</li>
                  <li class="collection-item">') }}</li>
               </ul>
               {% endautoescape %}
            </div>
         </div>
         <!--FAV COOKWARE PROMOTION..............................................-->
         <div class="row center-align ad-box">
            <p><strong> Missing something?</strong> View quality cookware needed for this recipe by Haden</p>
            <div class="col s4 center-align">
               <div class="valign-wrapper">
                  <a href="https://www.amazon.co.uk/stores/Haden/page/440F70CE-6556-4598-9664-0EAADD236BFA?ref_=ast_bln" target="_blank">
                  <img class="logo adjust-size" src="https://d2o7dtsnwzl7g9.cloudfront.net/blaines/media/image/f1/c5/fc/Haden_Logo.png" alt="Haden logo">
                  </a>
               </div>
            </div>
            {% if "oven" in result.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/Oven-Sngl-Fan-64L-Timer/dp/B07YZB63Z3/ref=sr_1_7_sspa?dchild=1&keywords=oven&qid=1607180596&sr=8-7-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyNzdDRFRMWlI0QjhZJmVuY3J5cHRlZElkPUEwOTAzNDI1WlFDRE1UU1MxUkZPJmVuY3J5cHRlZEFkSWQ9QTA1MTMyNDQyTzlOODk3V1lUVFImd2lkZ2V0TmFtZT1zcF9tdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl" 
                  target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/4147%2BH1OULL._AC_.jpg" alt="Haden oven" class="ad-pic adjust-size">
                  <p class="ad-link"> Electric oven £225</p>
               </a>
            </div>
            {% endif %}
            {% if "microwave" in result.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/Haden-186683-Cotswold-Microwave-Litre/dp/B073VPDH6V/ref=sr_1_5?dchild=1&keywords=microwave+ovens+haden&qid=1608078651&sr=8-5" target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/713zanXfoZL._AC_SL1500_.jpg" alt="Haden microwave" class="ad-pic adjust-size">
                  <p class="ad-link"> Microwave £105</p>
               </a>
            </div>
            {% endif %}
            {% if "stove" in result.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/Haden-HG60W-Gas-Hob-Stovetop/dp/B08DD3TJCW/ref=sr_1_1?dchild=1&keywords=stove+top+haden&qid=1607183238&sr=8-1" target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/71Km3T%2BAnpL._AC_SL1500_.jpg" alt="Haden stove" class="ad-pic adjust-size">
                  <p class="ad-link"> Gas stove £139</p>
               </a>
            </div>
            {% endif %}
            {% if "pan" in result.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/Haden-Goldstone-Pan-Set-Aluminium/dp/B08FRLQ537/ref=sr_1_1?crid=39VB11BQR6WIP&dchild=1&keywords=haden+pan&qid=1607189575&sprefix=haden+pan%2Caps%2C151&sr=8-1" target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61ScxS0tyXL._AC_SL1500_.jpg" alt="Haden pans" class="ad-pic adjust-size">
                  <p class="ad-link"> Pans £65</p>
               </a>
            </div>
            {% endif %}
            {% if "pot" in result.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/Haden-Goldstone-Pan-Set-Aluminium/dp/B08FRLQ537/ref=sr_1_1?crid=39VB11BQR6WIP&dchild=1&keywords=haden+pan&qid=1607189575&sprefix=haden+pan%2Caps%2C151&sr=8-1" target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61ScxS0tyXL._AC_SL1500_.jpg" alt="Haden pans" class="ad-pic adjust-size">
                  <p class="ad-link"> pots £65</p>
               </a>
            </div>
            {% endif %}
            {% if "mixer" in result.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/197405-Accessories-ingredients-Powerful-Warranty/dp/B084RS5SQM?ref_=ast_sto_dp" target="_blank">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/618e7H7bgYL._AC_SL1500_.jpg" alt="Haden mixer" class="ad-pic adjust-size">
                  <p class="ad-link"> Stand mixer £120</p>
               </a>
            </div>
            {% endif %}
            {% if "slow cooker" in result.cookware %}
            <div class="col s4 center-align">
               <a href="https://www.amazon.co.uk/Haden-3-5ltr-Slow-Cooker/dp/B07BXR3DM7?ref_=ast_sto_dp">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61Bm6J2LSwL._AC_SL1500_.jpg" alt="Haden slow cooker" class="ad-pic adjust-size" target="_blank">
                  <p class="ad-link"> Slow cooker £20</p>
               </a>
            </div>
            {% endif %}
         </div>
         <!-- FAV CREATED BY.....................................................-->
      </div>
      {% endfor %}
   </div>
   </body>
   {% endblock %}