{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
<body>
   <div class="container">
      <!--USER RECIPE HEADING............................................-->
      <div class="row user-header" style="margin:0;">
         <div class="col s12 m8 offset-m2">
            <p class="center-align goldman">
               {{ username|capitalize() }}'s Cookbook
            </p>
         </div>
      </div>
          <!--FLASH MESSAGES -->
          <div class="row"> 
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="col s12 flashes">
               <h4 class="center-align">{{ message }}</h4>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
         </div>
      <div class="row">
         <div class="col s12 m8 offset-m2 center-align bottom-space">
            <a href="{{ url_for('add_recipe')}}" class="center-align km-green btn-large"><i class="fas fa-plus right"></i>Add Recipe</a>
         </div>
      </div>
      
      <div class="row">
         {% for recipe in ownrecipes %}
         <div class="col m6 s12">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}<i class="fas fa-ellipsis-v right"></i></span>
                  <div class="center-align">
                     {% if session.user|lower == recipe.created_by|lower %}
                     <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn km-pink">Delete</a>
                     <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn km-green">Edit</a>
                     {% endif %}
                  </div>
                  <p><a href="#"></a></p>
               </div>
               <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name }}<i class="fas fa-caret-down right"></i></span>
                    <p class="ingred-item adjust-size"><strong class="recipe-section"> Ingredients :</strong></p>
                        {% autoescape false %}
                    <ul class="ingred-list">
                        <li class="ingred-item adjust-size"><i class=" km-green-text fas fa-heart"></i>{{ recipe.ingredients|replace(",", '</li>
                        <li class="ingred-item adjust-size"><i class="km-green-text fas fa-heart"></i>') }}</li>
                    </ul>
                  {% endautoescape %}
                  <p><strong> Instructions :</strong></p>
                    <ul class="collection">
                        {% autoescape false %}
                        <li class="collection-item">{{ recipe.instructions|replace(".", '</li>
                        <li class="collection-item">') }}</li>
                        {% endautoescape %}
                    </ul>
                  {% if session.user|lower == "admin" %}
                  <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small">Delete</a>
                  {% endif %}
                  {% if session.user %}
                    {% if session['user'] != recipe.created_by %}
                    <div class="center-align">
                        <a href="{{ url_for('add_favourite', recipe_id=recipe._id) }}" class="btn fav-btn km-pink">Favourite<i class="fas fa-star"></i></a>
                    </div>
                    {% endif %}
                  {% endif %}
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
   </div>
   <div class="container">
      <div class="row user-header">
         <div class="col s12 m8 offset-m2">
            <p class="center-align goldman">
               {{ username|capitalize() }}'s Favourites
            </p>
         </div>
      </div>
      <!--FAVOURITE RECIPE TITLE............................................-->
      <div class="row">
         {% for result in results %}
         <div class="col m6 s12">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ result.image_url }}" alt="{{ result.recipe_name }}">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{ result.recipe_name }}<i class="fas fa-ellipsis-v right"></i></span>
                  <p><a href="#"></a></p>
               </div>
               <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ result.recipe_name }}<i class="fas fa-caret-down right"></i></span>
                    <p class="ingred-item adjust-size"><strong class="recipe-section"> Ingredients :</strong></p>
                        {% autoescape false %}
                    <ul class="ingred-list">
                        <li class="ingred-item adjust-size"><i class=" km-green-text fas fa-heart"></i>{{ result.ingredients|replace(",", '</li>
                        <li class="ingred-item adjust-size"><i class="km-green-text fas fa-heart"></i>') }}</li>
                    </ul>
                  {% endautoescape %}
                  <p><strong> Instructions :</strong></p>
                    <ul class="collection">
                        {% autoescape false %}
                        <li class="collection-item">{{ result.instructions|replace(".", '</li>
                        <li class="collection-item">') }}</li>
                        {% endautoescape %}
                    </ul>
                    <div>
                        <a href="{{ url_for('remove_favourite', recipe_id=result._id) }}" class="center-align btn km-pink">
                        <i class="fas fa-times-circle"></i> Remove favourite</a>
                     </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
   </div>
   </body>
   {% endblock %}