{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
<body class="img-background tablecloth">
<div class="container white">
    <div class="row user-header">
    <!--------------------------------USERNAME RECIPES TITLE---------------------------------------------->
        <div class="col s12 m8 offset-m2">
            <h2 class="center-align goldman">
                {{ username|capitalize() }}'s Recipes
            </h2>
        </div>
    </div>
        {% for recipe in ownrecipes %}
        <div class="row">
            <div class="col s12 m6">
            <!----------------------------------RECIPE NAME + EDIT BUTTONS ---------------------------------->
                <h3 class="center-align">{{ recipe.recipe_name }}</h3>
                <div class="center-align">
                {% if session.user|lower == recipe.created_by|lower %}
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-large">Delete</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-large">Edit</a>
                {% endif %}
                </div>
            </div>
            <!----------------------------------IMAGE ------------------------------------------------------>
            <div class="col s12 m6">
                <img src="{{ recipe.image_url}}" alt="{{recipe.recipe_name}}" class="recipe-pic">
            </div>
        </div>
        <!----------------------------------INGREDIENTS ------------------------------------------------------>
        <div class="row">
            <div class="col s12 m6">
                <p>
                    <strong> Ingredients :</strong>
                    {% autoescape false %}
                    <ul class="collection">
                        <li class="collection-item red lighten-5">{{ recipe.ingredients|replace(",", "</li><li class='collection-item red lighten-5'>") }}</li>
                    </ul>
                    {% endautoescape %}
                </p>
            </div>
            <!----------------------------------INSTRUCTIONS ------------------------------------------------------>
            <div class="col s12 m6">
                <p>
                    <strong> Instructions :</strong>
                    {% autoescape false %}
                    <ul class="collection">
                        <li class="collection-item red lighten-5">{{ recipe.instructions|replace(".", "</li><li class='collection-item red lighten-5'>") }}</li>
                    </ul>
                    {% endautoescape %}
                </p>
            </div>
        </div>
        <div class="row">
        <div class="col s12 center-align">
                <p><strong> Cookware required:</strong> {{ recipe.cookware }}</p>
            </div>
        </div>
        <!-------------------------------------------COOKWARE PROMOTION--------------------------------------------->
        <div class="row center-align km-blue">
            <p><strong> Missing something?</strong> View quality cookware needed for this recipe by Haden</p>
            {% if "oven" in recipe.cookware %}
            <div class="col s4 center-align">
                <a href="https://www.amazon.co.uk/Oven-Sngl-Fan-64L-Timer/dp/B07YZB63Z3/ref=sr_1_7_sspa?dchild=1&keywords=oven&qid=1607180596&sr=8-7-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyNzdDRFRMWlI0QjhZJmVuY3J5cHRlZElkPUEwOTAzNDI1WlFDRE1UU1MxUkZPJmVuY3J5cHRlZEFkSWQ9QTA1MTMyNDQyTzlOODk3V1lUVFImd2lkZ2V0TmFtZT1zcF9tdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl">
                <img src="https://images-na.ssl-images-amazon.com/images/I/4147%2BH1OULL._AC_.jpg" alt="Haden oven" class="ad-pic">
                <p class="ad-link"> Electric oven £225</p>
                </a>
            </div>
            {% endif %}
            {% if "microwave" in recipe.cookware %}
            <div class="col s4 center-align">
                    <a href="ZW5jcnlwdGVkUXVhbGlmaWVyPUFEWUs4TVVHMlhTSVImZW5jcnlwdGVkSWQ9QTAwMzM3ODcyOVkzTDRUTVRSSDUwJmVuY3J5cHRlZEFkSWQ9QTAzODM3ODEyWjdGNlBMNERGWkNHJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/719nytTJ4GL._AC_SL1500_.jpg" alt="Haden microwave" class="ad-pic">
                    <p class="ad-link"> Microwave £105</p>
                    </a>
            </div>
            {% endif %}
            {% if "stove" in recipe.cookware %}
            <div class="col s4 center-align">
                    <a href="https://www.amazon.co.uk/Haden-HG60W-Gas-Hob-Stovetop/dp/B08DD3TJCW/ref=sr_1_1?dchild=1&keywords=stove+top+haden&qid=1607183238&sr=8-1">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71Km3T%2BAnpL._AC_SL1500_.jpg" alt="Haden stove" class="ad-pic">
                    <p class="ad-link"> Gas stove £139</p>
                    </a>
            </div>
            {% endif %}
            {% if "pan" or "pot" in recipe.cookware %}
            <div class="col s4 center-align">
                    <a href="https://www.amazon.co.uk/Haden-Goldstone-Pan-Set-Aluminium/dp/B08FRLQ537/ref=sr_1_1?crid=39VB11BQR6WIP&dchild=1&keywords=haden+pan&qid=1607189575&sprefix=haden+pan%2Caps%2C151&sr=8-1">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61ScxS0tyXL._AC_SL1500_.jpg" alt="Haden pans" class="ad-pic">
                    <p class="ad-link"> Gas stove £139</p>
                    </a>
            </div>
            {% endif %}
            {% if "pot" in recipe.cookware %}
            <div class="col s4 center-align">
                    <a href="https://www.amazon.co.uk/Haden-Goldstone-Pan-Set-Aluminium/dp/B08FRLQ537/ref=sr_1_1?crid=39VB11BQR6WIP&dchild=1&keywords=haden+pan&qid=1607189575&sprefix=haden+pan%2Caps%2C151&sr=8-1">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61ScxS0tyXL._AC_SL1500_.jpg" alt="Haden pans" class="ad-pic">
                    <p class="ad-link"> pots £65</p>
                    </a>
            </div>
            {% endif %}
            {% if "mixer" in recipe.cookware %}
            <div class="col s4 center-align">
                    <a href="https://www.amazon.co.uk/197405-Accessories-ingredients-Powerful-Warranty/dp/B084RS5SQM?ref_=ast_sto_dp">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/618e7H7bgYL._AC_SL1500_.jpg" alt="Haden mixer" class="ad-pic">
                    <p class="ad-link"> Stand mixer £120</p>
                    </a>
            </div>
            {% endif %}
            {% if "slow cooker" in recipe.cookware %}
            <div class="col s4 center-align">
                    <a href="https://www.amazon.co.uk/Haden-3-5ltr-Slow-Cooker/dp/B07BXR3DM7?ref_=ast_sto_dp">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61Bm6J2LSwL._AC_SL1500_.jpg" alt="Haden slow cooker" class="ad-pic">
                    <p class="ad-link"> Slow cooker £20</p>
                    </a>
            </div>
            {% endif %}

        </div>
        <!----------------------------------CREATED BY ------------------------------------------------------>
        <div class="row">
            <div class="col s12">
                <p> <strong>Created by:</strong> {{ recipe.created_by }}</p>
            </div>
        </div>
        {% endfor %}
        <!----------------------------------ADD RECIPE-------------------------------------------------------->
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_recipe')}}" class="center-align orange darken-4 btn-large"><i class="fas fa-plus right"></i>Add Recipe</a>
        </div>
    </div>
</div>

{% for result in results %}
<p>{{ result.recipe_name }}</p>
{% endfor %}
</div>
{% endblock %}