{% extends "base.html" %}
{% block content %}
<div class="row">
        <div class="header-pic img-background responsive-img">
            <h1 class="goldman header-text"> KetoMeals</h1>
</div>
<div class="container">
<div class="row">
<h3>Search by category</h3>
    <div class="col s4">
    <button class="hoverable categories brown darken-4 white-text goldman">
        <h4>Snack</h4>
        <img src="static/css/snack.jpg" class="category-pic">
    </button>
    </div>
    <div class="col s4">
    <button class="hoverable categories brown darken-4 white-text goldman">
        <h4>Main Meal</h4>
        <img src="static/css/main.jpg" class="category-pic">
    </button>
    </div>
    <div class="col s4">
    <button class="hoverable categories brown darken-4 white-text goldman">
        <h4>Dessert</h4>
        <img src="static/css/dessert.jpg" class="category-pic">
    </button>
    </div>
</div>
<div class="row card-panel grey">
    <div class="col s12">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                <i class="fas fa-search prefix"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Recipes</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_recipes') }}" class="btn orange">Reset</a>
                    <button type="submit"><i class="fas fa-search left"></i>Search</button>

                </div>
            </div>
        </form>
    </div>
</div>
<ul class="collapsible">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header">
            <div class="col sm6">
            <h4 class="center-align">{{ recipe.recipe_name }}</h4></div>
            <div class="col sm6 center-align">
            <img src="{{ recipe.image_url}}" alt="{{recipe.recipe_name}}" class="recipe-pic"></div>
        </div>
        <div class="collapsible-body">
            <p>
                <strong> Ingredients :</strong>
                {% autoescape false %}
                <ul class="collection">
                    <li class="collection-item red lighten-5">{{ recipe.ingredients|replace(",", "</li><li class='collection-item red lighten-5'>") }}</li>
                </ul>
                {% endautoescape %}
            </p>
            <p>
                <strong> Instructions :</strong>
                {% autoescape false %}
                <ul class="collection">
                    <li class="collection-item red lighten-5">{{ recipe.instructions|replace(".", "</li><li class='collection-item red lighten-5'>") }}</li>
                </ul>
                {% endautoescape %}
            </p>
            <p>{{ recipe.cookware }}</p>
                            
            <p>{{ recipe.created_by }}</p>
            <div class="center-align">
            {% if session.user|lower == recipe.created_by|lower %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small">Delete</a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small">Edit</a>
            {% endif %}
            </div>
        
        </div>
</li>
    {% endfor %}
</ul>
</div>
{% endblock %}