{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
<body class="img-background signin">
<div class="valign-wrapper">
  <div class="row offset-s2 s8 opaque">
  <h4 class="center-align goldman">Register with us</h4>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="first_name" type="text" class="validate">
          <label for="first_name"><i class="fa fa-user-circle" aria-hidden="true"></i>Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password"><i class="fa fa-key" aria-hidden="true"></i>Password</label>
        </div>
      </div>
      <a class="hoverable btn-large orange darken-4 center-align">Register</a>
      </form>
</div>
</div>
</body>
{% endblock %}